* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EEF0F7;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
  animation-name: loading;
  animation-duration: 2s;
}

.container {
  background-color: #fff;
  width: 900px;
  height: 500px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}

.container::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom right, #909EAE, #152638);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;

}

@keyframes loading {
  0%{ opacity: 0;}
  100%{opacity: 1;}
}

.container img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.container-text {
  padding: 10px 40px 10px 10px;
}

.container-text h2 {
  font-size: 1.2rem;
  color: #1A2250;
}

.container-text p {
  font-size: 14px;
  color: #3B4169;
  margin: 10px 0;
}

.container-text input,
.container-text button {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 3px;
}

.container-text input {
  border: 2px solid #DADDEC;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #656880;
}

.container-text button {
  background-image: linear-gradient(to right, #3B2A16, #4E3B2A);
  color:#E6E6E6;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow .3s ease-in-out;
}

#buttons{
  display: flex;
  justify-items: center;
  gap: 3px;
}

#container-Mother{
  display: grid;
  grid-template-columns: [s] 10% [m] 90% [e];
  gap: 5%;
}
#nav{
  width: 100%;
  background-color:#fff;
  grid-column: s/m;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  padding-top: 20%;
  padding-bottom: 40%;
  display: grid;
  grid-template-rows: [s] 15% [m1] 20% [m2] 15% [m3] 20% [m4] 15% [m5] 20% [e];
  justify-items: center;
  align-items: center;
}
#other{
  grid-column: m/e;
}
#add{
  grid-row: s/m1 ;
}
#modification{
  grid-row: m1/m2;
}
#remove{
  grid-row: m2/m3;
}
#list{
  
  grid-row: m4/m5;
}
#look{
  grid-row: m3/m4;
}
#home{
  grid-row: m5/e;
}